<ion-view class="content"> 
	<ion-nav-title class="long-title">DASHBOARD</ion-nav-title>
	
	<ion-content class="dashboard">
		<div class="padding10">
			<p>This App Is Under Construction</p>
			<div class="center">
				<img height="200" width="200" src="images/under_construction.png" />
			</div>
			<div class="mrgTp10">You Are Logged In As - {{username}}</span></div>
			<div style="clear: both;"></div>
			<div class="mrgTp10">You Are On Dashboard</div>
			<div>
				<button class="button" ng-click="goToDemoPage()">Go To Demo Page(Child)</button>
			</div>
		</div>
		<div class="padding10">
			<p>This App Is Under Construction</p>
			<div class="center">
				<img height="200" width="200" src="images/under_construction.png" />
			</div>
			<p class="mrgTp10">You Are On Dashboard</p>
			<div>
				<button class="button" ng-click="goToDemoPage()">Go To Demo Page(Child)</button>
			</div>
		</div>
		
		<input type="password" autocomplete="off" id="curPw" class="password"><div class="input_img" ng-click="showPassword($event)"></div><span class="highlight"></span><span class="btmBar"></span><label>Current Password</label>
		
	</ion-content> 
</ion-view>
