<ion-side-menus enable-menu-with-back-views="{{ config.theme.enableMenuWithBack }}">

    <ion-side-menu-content drag-content="true">

        <ion-nav-bar class="bar-stable nav-title-slide-ios7 two-side" align-title="center">
        	
        	<ion-nav-back-button ng-click="ionicGoBack()" class="button-clear inverse">
        		<i class="icon ion-ios7-arrow-back">
        		</i>&lt; Back
        	</ion-nav-back-button>
            
            <ion-nav-buttons side="left">
                <button menu-toggle="left" id="menuBtn" class="button button-icon icon ion-navicon inverse"></button>
            </ion-nav-buttons>

            <ion-nav-buttons side="right">
                <button menu-toggle="right" id="settingsBtn" class="button button-icon icon ion-gear-b inverse"></button>
            </ion-nav-buttons>
        </ion-nav-bar>

        <ion-nav-view name="appView">
        </ion-nav-view>

    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-nav-view name="menu" animation="slide-left-right"></ion-nav-view>
    </ion-side-menu>

    <ion-side-menu side="right">
        <ion-nav-view name="settings" animation="slide-left-right"></ion-nav-view>
    </ion-side-menu>

</ion-side-menus>
